.wrapper {
  width: 440px;
  height: 580px;
  padding: 20px;
  border-radius: 10px;
  background-color: #485461;
}

.wrapper-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 2%;
}
